@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;300;400&display=swap');

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  line-height: 1.6;
  font-family: 'Sora', sans-serif;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-bar h1 {
  font-size: 2rem;
  padding: 0;
  margin: 20px 15px;
  font-weight: 400;
}

.search-bar input[type=search] {
  min-width: 400px;
  min-height: 25px;
  font-size: 1.5rem;
}

section.output {
  display: none;
}